* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* ADD FLEX */

  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #deb887;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* applying styles to <header> */
  header {
    padding: 20px 35px;
    background-color: #6495ed;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #deb887;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #deb887;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav li {
    display: inline;
    text-decoration: underline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  /* Look back and check this */
  section {
      padding: 50px;
  }
  
  /* Image under header */
  .bubbles {
    background-image: url('../images/bubbles.jpg.gif');
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .subtitle {
      border: 6px solid #deb887;
      background-color: #6495ed;
      padding: 20px;
      width: auto;
      position: absolute;
      bottom: 15px;
      right: 70px;
  }

  section h3 {
      font-weight: bolder;
  }

  /* Grid Wrapper */
  .service-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  /* Section Title Styles */
  .section-title {
    border-right: 5px solid #deb887;
    padding-right: 10px;
    height: 100px;
    display: inline-grid;
}

  /* About Me Section */

  /* About Me GRIDS */
  .service-grid-container {
    display: grid;
    width: 80%;
    grid-template-rows: 2fr;
    border: 2px solid var(--secondary-color);
    color:  var(--secondary-color);
    font-size: 1.2rem;
  }
  
  .service-grid-item.first {
    padding: 15px 0;
    border: 2px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  

  /* Work Section */

  /* Contact Me Section */
.contact nav {
      float: left;
      margin: 7px 0;
  }
.contact nav ul li p {
      display: inline;
      text-decoration: underline
  }
  
.contact ul li {
      text-align: center;
  }