* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #deb887;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* applying styles to <header> */
  header {
    padding: 20px 35px;
    background-color: #6495ed;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #deb887;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #deb887;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  /* Look back and check this */
  section {
      padding: 60px;
  }
  
  /* Image under header */
  .bubbles {
    background-image: url('../images/bubbles.jpg.gif');
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
  }