* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* ADD FLEX */

  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #deb887;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* applying styles to <header> */
  header {
    padding: 20px 35px;
    background-color: black;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #deb887;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #deb887;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav li {
    display: inline;
    text-decoration: underline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  section {
      padding: 70px;
  }
  
  /* Image under header */
  .bubbles {
    background-image: url('../images/bubbles.jpg.gif');
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .subtitle {
      border: 6px solid #deb887;
      background-color: black;
      padding: 20px;
      width: auto;
      position: absolute;
      bottom: 15px;
      right: 70px;
  }

  section h3 {
      font-weight: bolder;
  }

  /* About Me Section */
  .service-grid-container {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      width: 50%;
  }

  .service-grid-items {
    width: 200px;
    height: 50px;
    color: #deb887;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* About Me GRIDS */

  /* Work Section */

  /* Contact Me Section */
.contact {
      float: left;
      margin: 7px 0;
  }
.contact li p {
      display: inline;
      text-decoration: underline
  }
  
.contact ul p li {
      text-align: center;
  }

  /* TEST */
  .steps { 
    background: var(--primary-color);
  }
  
  .step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .step h2 {
    color: var(--secondary-color);
    font-size: 35px;
    flex: 1 30%;
  }

  .step-text {
    flex: 12;
  }
  
  .step-text p {
    color: var(--tertiary-color);
    font-size: 18px;
  }
  
  .step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
  }
  